<div class="col-span-1">
    <span>Log in here!</span>
    <br><br>
    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-1 rounded">
      <%= link_to "Log in" , new_user_session_url %>
    </button>
    <div data-main-id="1"></div>
  </div>