<div class=" p-4">
    <div class="flex justify-end mb-4">
      <div class="message-box sent p-2">
        <p class="text-sm">Sent message here</p>
      </div>
    </div>
    <div class="flex justify-start mb-4">
      <div class="message-box received p-2">
        <p class="text-sm">Received message here</p>
      </div>
    </div>
    <div class="flex justify-end mb-4">
      <div class="message-box sent p-2">
        <p class="text-sm">Another sent message</p>
      </div>
    </div>
    <div class="flex justify-start mb-4">
      <div class="message-box received p-2">
        <p class="text-sm">Another received message</p>
      </div>
    </div>