
<% messages.includes(:author).each do |message|%>
<% if message.author_id == current_user.id %>
  <div class="flex justify-end mb-4">
    <div class="message-box sent p-2">
      <p class="text-xs"><%= message.content %></p>
  </div>
</div>
<%else%>
<div class="flex justify-start mb-4">
  <div class="message-container">
    <p class="author text-sm text-gray-500 pl-6"><%= message.author.username %></p>
  <div class="message-box received p-2">
      <p class="text-xs"><%= message.content %></p>
  </div>
</div>
</div>

<%end%>
<% end  %>