Rooms
<br>
<div >
<% rooms.each do |room|%>
<div class="group">
  <ul id="room-list">
    <li><p class="text-gray-500 group-hover:text-red-500"><%= link_to room.name , room_show_url(room.id) %></p></li>
  </ul> 
</div>
  <%end%>
</div>
<br>