<div class="grid grid-cols-2">
<% if user_signed_in?%>
<div class="col-span-1">
 Ongoing Chats
</div>
<div class="col-span-1 bg-blue-500 h-48 max-h-48 overflow-auto px-2">
kamal
</div>
<%else%>
<div class="col-span-1">
<span>Log in here!</span>
<br><br>    
<button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-1 rounded">
    <%= link_to  "Log in", new_user_session_url %></button>

<div data-main-id = 1></div>
</div>
<% end%>
</div>